<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="resources/db.properties"></property>
	</bean>
	<bean id="test" class="beans.Test">
		<property name="driver" value="${driver}"></property>
		<property name="userid" value="${userid}"></property>
		<property name="password" value="${password}"></property>
		<property name="url" value="${url}"></property>
	</bean>

</beans>