<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="cf" class="beans.CarFactory" ></bean>
	<bean id="c" factory-bean="cf" factory-method="getObject">
	<property name="engine" ref="e"></property></bean>
	<bean id="e" class="beans.Engine">
		<property name="engineName" value="AudiEngne"></property>
	</bean>

</beans>